/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';

////////////////////////////////////////////////////////////////////////////////////////////////////

// GLOBAL ELEMENTS -- START

a {
	text-decoration: none;
	color: #000000;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	display: inline-block;
}

// GLOBAL ELEMENTS -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// MAIN COMPONENT -- START

.main {

}

// MAIN COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// SIGNUP COMPONENT -- START

.signup {

}

// SIGNUP COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// LOGIN COMPONENT -- START

.login {

}

// LOGIN COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// WITH NAVS COMPONENT -- START

.with-navs {

}

// WITH NAVS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// TOP NAV COMPONENT -- START

.top-nav {
	background: blue;
	max-height: 200px;
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
	li {
		margin: 0px 10px 0px 10px;
	}
}

// TOP NAV COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// LEFT NAV COMPONENT -- START

.bottom-nav {
	position: relative;
	bottom: 0px;
	left: 0px;
	.bottom-icons {
		font-size: 40px;
		border: 2px solid #000000;
		border-radius: 20px;
	}
}

// LEFT NAV COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// RANKINGS COMPONENT -- START

.rankings {

}

// RANKINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// MOCK DRAFT COMPONENT -- START

.mock-draft {

}

// MOCK DRAFT COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// RANKINGS COMPONENT -- START

.rankings {

}

// RANKINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// TIMELINE COMPONENT -- START

.timeline {

}

// TIMELINE COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// SIDE BY SIDE COMPONENT -- START

.side-by-side {

}

// SIDE BY SIDE COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// LEAGUE SETTINGS COMPONENT -- START

.league-settings {

}

// LEAGUE SETTINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// ACCOUNT SETTINGS COMPONENT -- START

.account-settings {

}

// ACCOUNT SETTINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// ABOUT COMPONENT -- START

.about {

}

// ABOUT COMPONENT -- END



