/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';


////////////////////////////////////////////////////////////////////////////////////////////////////


// VARIABLES

$BruinsYellow: #ffc422;
$BruinsBlack: #231f20;
$FacebookBlue: #3d5b94;
$InstagramBrown: #552b29;
$LightningBlue: #003e7e;
$TwitterBlue: #5ea9dd;
$YouTubeRed: #ee1c1b;

// VARIABLES


////////////////////////////////////////////////////////////////////////////////////////////////////


// GLOBAL ELEMENTS -- START

* {
	font-family: Helvetica;
}

body {
	background: $BruinsYellow;
}

a {
	text-decoration: none;
	color: #000000;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

// GLOBAL ELEMENTS -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// MAIN COMPONENT -- START

.main {

}

// MAIN COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// SIGNUP COMPONENT -- START

.signup {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $BruinsBlack;
	color: $BruinsYellow;
	font-size: 25px;
	min-height: 701px;
	.signup-blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.signup-left {
			margin-right: 10px;
		}
		.signup-right {
			margin-left: 10px;
		}
		.signup-field {
			display: block;
			height: 40px;
			width: 350px;
			background: $BruinsBlack;
			border: 2px solid $BruinsYellow;
			border-radius: 5px;
			color: $BruinsYellow;
			margin-bottom: 15px; 
		}
	}
	button {
		height: 80px;
		width: 740px;
		background: $BruinsYellow;
		border: 2px solid $BruinsBlack;
		border-radius: 5px;
		color: $BruinsBlack;
		font-family: 'Shadows Into Light', cursive;
		font-size: 60px;
		line-height: 80px;
		margin: 20px auto;
	}
	.signup-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Shadows Into Light', cursive;
		font-size: 75px;
		margin-bottom: 20px;
	}
	.below-signup-text {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.below-signup-link {
		display: flex;
		justify-content: center;
		margin-top: 8px;
		a {
			color: $LightningBlue;
			font-size: 40px;
		}
	}
}

// SIGNUP COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// LOGIN COMPONENT -- START

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $BruinsBlack;
	color: $BruinsYellow;
	font-size: 25px;
	min-height: 701px;
	.login-field {
		display: block;
		height: 40px;
		width: 400px;
		background: $BruinsBlack;
		border: 2px solid $BruinsYellow;
		border-radius: 5px;
		color: $BruinsYellow;
		margin-bottom: 15px; 
	}
	button {
		height: 60px;
		width: 402px;
		background: $BruinsYellow;
		border: 2px solid $BruinsBlack;
		border-radius: 5px;
		color: $BruinsBlack;
		font-size: 40px;
		margin-bottom: 22px;
	}
	.login-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Shadows Into Light', cursive;
		font-size: 75px;
		margin-bottom: 20px;
	}
	.below-login-text {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.below-login-link {
		display: flex;
		justify-content: center;
		margin-top: 8px;
		a {
			color: $LightningBlue;
			font-size: 40px;
			text-align: middle;
		}
	}
}

// LOGIN COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// WITH NAVS COMPONENT -- START

.with-navs {

}

// WITH NAVS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// TOP NAV COMPONENT -- START

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	border-bottom: 15px solid $BruinsBlack;
	.top-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $BruinsYellow;
		color: $BruinsBlack;
		font-family: 'Shadows Into Light', cursive;
		width: 30%;
		a {
			font-family: 'Shadows Into Light', cursive;
			font-size: 60px;
		}
	}
	.top-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $BruinsBlack;
		width: 70%;
		height: 100%;
		.top-links-ul {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.top-links-li {
				color: $BruinsYellow;
				display: inline-block;
				font-size: 30px;
				&:hover {
					color: $LightningBlue;
				}
			}
		}
	}
}


// TOP NAV COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// BOTTOM NAV COMPONENT -- START

.bottom-nav {
	display: block;
	background: $BruinsBlack;
	width: 100%;
	.bottom-top {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 120px;
		.bottom-icons-ul {
			margin: 20px auto 20px auto;
			.bottom-icons-li {
				display: inline-block;
				.fa {
					color: $BruinsYellow;
					background: $BruinsBlack;
					display: inline;
					font-size: 50px;
					border: 5px solid $BruinsYellow;
					border-radius: 100%;
					margin: 20px 10px 20px 10px;
					&.fa-facebook {
						padding: 10px 20.72px 10px 20.72px;
						&:hover {
							background: $BruinsBlack;
							color: $FacebookBlue;
							border: 7px solid $FacebookBlue;
						}
					}
					&.fa-twitter {
						padding: 10px 11.79px 10px 11.79px;
						&:hover {
							background: $BruinsBlack;
							color: $TwitterBlue;
							border: 7px solid $TwitterBlue;
						}
					}
					&.fa-instagram {
						padding: 10px 13.58px 10px 13.58px;
						&:hover {
							background: $BruinsBlack;
							color: $InstagramBrown;
							border: 7px solid $InstagramBrown;
						}
					}
					&.fa-youtube {
						padding: 10px 13.58px 10px 13.58px;
						&:hover {
							background: $BruinsBlack;
							color: $YouTubeRed;
							border: 7px solid $YouTubeRed;
						}
					}
				}
			}
		}
		.bottom-words-ul {
			.bottom-words-li {
				color: $BruinsYellow;
				display: inline-block;
				font-size: 30px;
				padding: 0px 25px 0px 25px;
				&:hover {
					color: $LightningBlue;
				}
				&.bottom-left-left {
					border-right: 1px solid $BruinsYellow;
				}
				&.bottom-left-right {
					border-left: 1px solid $BruinsYellow;
				}
				&.bottom-right-left {
					border-right: 1px solid $BruinsYellow;
				}
				&.bottom-right-right {
					border-left: 1px solid $BruinsYellow;
				}
			}
		}
	}
	.bottom-bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $BruinsBlack;
		color: $BruinsYellow;
		height: 25px;
	}
}

// BOTTOM NAV COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// HOME COMPONENT -- START

.home {
	min-height: 410px;
}

// HOME COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// RANKINGS COMPONENT -- START



.rankings {
	min-height: 424px;
}

// RANKINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// MOCK DRAFT COMPONENT -- START

.mock-draft {
	min-height: 424px;
}

// MOCK DRAFT COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// RANKINGS COMPONENT -- START

.rankings {
	min-height: 424px;

}

// RANKINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// TIMELINE COMPONENT -- START

.timeline {
	min-height: 424px;
}

// TIMELINE COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// SIDE BY SIDE COMPONENT -- START

.side-by-side {
	min-height: 424px;
}

// SIDE BY SIDE COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// LEAGUE SETTINGS COMPONENT -- START

.league-settings {
	font-size: 18px;
	background: gray;
	margin: 0px 200px 0px 200px;
	min-height: 424px;
	.league-top-text {
		color: $BruinsBlack;
		font-size: 25px;
		font-weight: bold;
		margin: auto;
		padding: 25px 0px 25px 0px;
		text-align: center;
		width: 85%;
	}
	.league-form-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		.stats {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			margin: 10px auto 10px auto;
			.skater-stats {
				color: $BruinsBlack;
				margin-right: 50px;
			}
			.goalie-stats {
				color: $BruinsBlack;
				margin-left: 50px;
			}
			.stats-header {
				color: $BruinsYellow;
				font-size: 30px;
				text-decoration: underline;
			}
		}
		button {
			display: flex;
			justify-content: center;
			background: $BruinsYellow;
			border: 5px solid $BruinsBlack;
			border-radius: 5px;
			color: $BruinsBlack;
			font-size: 30px;
			font-weight: bold;
			margin: 10px auto 40px auto;
			width: 300px;
			height: 50px;
		}
	}
}

// LEAGUE SETTINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// ACCOUNT SETTINGS COMPONENT -- START

.league-settings {
	min-height: 424px;
}

// ACCOUNT SETTINGS COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// ABOUT COMPONENT -- START

.about {
	min-height: 424px;
}

// ABOUT COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// PRIVACY COMPONENT -- START

.privacy {
	min-height: 424px;
}

// PRIVACY COMPONENT -- END


////////////////////////////////////////////////////////////////////////////////////////////////////


// LEAGL COMPONENT -- START

.legal {
	min-height: 424px;
}

// LEAGL COMPONENT -- END
